@import "@/assets/style/mixins.scss";

.drawer {
  width: 100%;
  height: 100%;
  pointer-events: none;
  @include positioned($position: fixed, $zIndex: 2);

  :global .mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    will-change: background-color;
    transition: background-color var(--transition);
  }

  :global .body {
    padding: 16px;
    background: #fff;
    @include flex($direction: column);
    @include positioned($top: 0, $left: 0);

    will-change: transform;
    transition: transform var(--transition);

    &--left {
      width: calc(100% - 64px - 32px);
      height: 100%;
      transform: translate3d(-100%, 0, 0);
    }

    &--bottom {
      top: auto;
      bottom: 0;
      width: 100%;
      max-height: 320px;
      overflow: hidden auto;
      transform: translate3d(0, 100%, 0);
    }
  }
}

.drawerOpened {
  pointer-events: auto;

  :global .mask {
    background-color: rgba(0, 0, 0, 0.65);
  }

  :global .body {
    transform: translate3d(0, 0, 0);
  }
}
