@import '@/assets/style/mixins.scss';

.scanner {
	width: 100vw;
	height: 365px;
	background: #d0d0d03a;

	@include positioned($top: 0, $left: 0);
	@include flexCenter();

	video {
		width: 85vw;
		height: 285px;
	}

	:global .camera-list {
		@include positioned($top: 100%, $left: 0);
		@include flex($alignItems: center, $gap: 8px);

		width: 100%;
		padding: 8px;
		border-bottom: 1px solid #eee;
		overflow: auto hidden;
	}
}
