@import '@/assets/style/mixins.scss';

.scanner {
	width: 100%;
	height: 365px;
	background: #d0d0d03a;

	@include positioned($position: fixed, $top: 0, $left: 0);
	@include flexCenter();

	:global #video {
		width: 85%;
		height: 285px;
		object-fit: cover;
	}
}
