.ticketCard {
	width: 100%;
	border-radius: var(--border-radius);
	box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;

	:global .body,
	:global .footer {
		padding: 16px;
	}

	:global .footer {
		border-top: 1px solid #eee;
	}
}
