@import "@/assets/style/mixins.scss";

.appbar {
  width: 100%;
  height: 56px;
  padding: 16px;
  border-bottom: 1px solid var(--c-border);
  @include flex($alignItems: center, $gap: 8px);

  :global .back-icon {
    @include svgStyle($size: 24px);
  }

  :global .title {
    margin: 0 auto;
    font-size: 20px;
    font-weight: 700;

    &--offset {
      position: relative;
      left: -8px;
    }
  }

  :global .actions {
    @include flex($alignItems: center, $gap: 4px);

    svg {
      @include svgStyle($size: 24px);
    }
  }
}
